.cred-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    align-items: center;
    /* padding-bottom: 5em; */
}

.cred-img-container{
    /* background-image: url(https://static-musique.qub.ca/images/covers/ya/47/q4nuuxxur47ya_max.jpg); */
    height: 45em;
    overflow:hidden;
    margin:2em;
    margin-top: 0;
    margin-bottom: 0;
}

.cred-img{
    /* width:50em; */
    opacity: 0.75;
    position: relative;
    top:-20em;
}

.login-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 5em;
    align-items: center;
    background-color: var(--surface);
    border-radius: 1em;
    border:var(--prim) solid 2px;
    min-width: 25em;
    box-shadow: 0px 0px 1em 0.5em var(--surface-var),
                inset 0px 0px 4px 1px var(--prim);
}

.blank>*{
    visibility:hidden;
}



.cred-inp{
    display: block;
    box-shadow:0px 0px 4px 1px var(--prim);
    box-sizing: border-box;
    margin:0.5em;
}

.cred-inp:focus{
    outline:none;
}

.cred-inp,.action-button{
    font-size: 1.5em;
    border-radius: 1em;
    background:var(--surface);
    color:var(--on-surface);
    border: var(--prim) solid 2px;
    margin:0.75em;
    padding:0.5em;
    width:80%;
}

.action-button{
    color:var(--surface);
    background:var(--prim);
}

.cred-link{
    color:var(--on-surface);
}

.title{
    color:var(--prim);
    font-size: 3em;
    padding:0px;
}
.or{
    color:var(--on-surface);
}

@media only screen and (max-width: 768px) {

    .cred-container{
        padding:2em;
    }

    .login-container{
        min-width: 15em;
        width:100%;
    }

    .cred-inp{
        font-size: 1em;
    }
}